@import "preloader.css";
html,body {
	width: 100%;
height: 100%;
}
			body {
				background-color: #000000;
				margin: 0px;
				overflow: hidden;
				color:white;
			}
			body.preloading > div {
				display:none
			}
			#preloader {
				display:none;
			}
			body.preloading > #preloader {
				display:block !important;
			}

#container {
	    cursor: -webkit-grab;
}
			.paused #container {
	    cursor: default;
}

			#info {
				position: absolute;
				top: 0px; width: 100%;
				color: #ffffff;
				padding: 5px;
				font-family:Monospace;
				font-size:13px;
				font-weight: bold;
				text-align:center;
			}

			a {
				color: #ffffff;
			}

			.logits {
display:none;
  position: fixed;
    top: 60px;
    top: 10px;
    left: 10px;
    color: #40b9d6;
    font-size: 12px;
			}

			.logit {

    color: white;
    background: #6087a5;
    background: #545454;
    background: rgba(236, 236, 236, 0.24);
    padding: 4px 5px;
    margin-bottom: 4px;
}
 .buffering {
	display:block;
	width:60px;
	height:60px;
	position:fixed;
	top:50%;
	left:50%;
	transform: 	translate(	-50%,-50%);
	background-image:url(default.gif);
	background-size:cover;
}
.playing .buffering {
	display:none;
}


.paused .buffering {
	display:none;
}
.logo {
	display:block;
	width:60px;
	height:60px;
	position:fixed;
	top:10px;
	right:10px;

	background-image:url(logo.png);
	background-size:cover;
}
#playPause {
		color:white;
	position:absolute;
	left:1px;
	bottom:-20px;
	font-size:10px;

    width: 40px;
    height: 30px;
    cursor:pointer;
}



.play {
	box-sizing: border-box;

    width: 18px;
    height: 24px;

    border-top: 12px solid transparent;
    border-left: 18px solid white;
    border-bottom: 12px solid transparent;
display:none;
}
.pause {
		box-sizing: border-box;
  width: 18px;
    height: 24px;
    border-right: 6px solid white;
    border-left: 6px solid white;
display:block;
}
.paused .play {
display:block;

}

.paused .pause {
display:none;
}
.hidable {
	   -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
#mediaControls {
	position: fixed;
    bottom: 25px;
    /* margin: 20px; */
    left: 20px;
    right: 20px;
    height: 37px;
/*margin:auto;*/
/*	left:50%;*/
/*	transform:translate(-50%);*/
}
.controlsHidden .hidable {
	opacity:0;
}
.paused .hidable {
	opacity:1;
}
#barHandle {
	position:absolute;
	width:25px;
	height:25px;
	background:#2196f3;
	border-radius:50%;
	transform: 	translate(	-50%,-50%);

	top:50%;
	display:none;
}
.barBar {
	position: absolute;
    top: 10px;
    width: 100%;
    background: white;
    height: 4px;
    left: 0px;
    display: none;
}
.currentTime {
	color:white;
	position:absolute;
	right:0px;
	bottom:-10px;
	font-size:10px;
}
.barWrapper {
	position:absolute;
	width:100%;
	height:35px;
	cursor: pointer;
}
.barWrapper::before {
	position:absolute;
	width:100%;
    background: white;
    height: 2px;
}

#bufferedBar {
	position:absolute;
	top:16px;
}
