#preloader {
color:white;
/*position:fixed;*/
/*top:50%;*/
/*left:50%;*/
/*transform: translate(-50%,-50%);
text-align: center;
width:200px;*/
    /*bottom: 100px;*/
    margin: auto;

        /*position: relative;
    top: 40px;
    color: white;*/
    /* display: none; */
    /*width: 1200px;
    max-width: 80%;
    margin: auto;
    overflow-y: auto;*/
    height: 100%;
}

.preloadBar {


      width: 100%;
    background: #2680c1;
    background: #224763;
    background: #2f2f2f;
  height: 100%;
  width:0px;
  position: absolute;
bottom: 0px;
z-index: 3;
    z-index: 4;
}
.preloadBarWrapper {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  height: 50px;
  background: #505050;
  border-top: 1px solid #333333;
  text-align: center;
}
.preloadText h2 {
  margin: 0px;
  color: white;
  font-size: 1.3em;
  display:block;
  margin-top:8px;
}
.done .preloadText h2 {
display:none;
}
.preloadText {
padding-top:5px;
    position: relative;
    z-index: 5;
}
.enterButton {
    cursor: pointer;
    padding: 6px 30px;
    font-size: 1.4em;
    background: #000;
    display: none;
    border-radius: 3px;
}
@-webkit-keyframes glowing {
  0% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
}

@-moz-keyframes glowing {
  0% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
}

@-o-keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}

@keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}

.enterButton {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
.done  .enterButton {
display:inline-block;
}
.pagesInfos  {
    height: 100%;
}

.pagesInfos iframe {
    width: 100%;
    height:100%;
    border:0px;
}
.pagesInfosContent {

	    color: #d4d2d2;
	    padding-top: 30px;
    /*column-count: 3;
    -webkit-column-count: 3;
    column-gap: 3em;
    -webkit-column-count: 3;
    -webkit-column-gap: 3em;*/
    font-size: 1.05em;
}
.pagesInfosContent h2 {
	font-size:3em;
    margin-bottom: 20px;
}


.part {
    width: 33%;
    float: left;
}

.part p {
  padding-right:40px;
     line-height: 1.2em;
}
.credits {
  clear:both;
  color:#9e9e9e;
  font-family: sans-serif;
  font-size: 0.8em;

}
.minilogo {
display: inline-block;

    margin-top: 10px;
        margin-left: 10px;
height:36px;
}
.minilogo img {

height:100%;
}
.minilogo.novelab {


}
.minilogo.laprairie {

}
