@charset "utf-8";
/* CSS Document */
@import "stylesheet.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

html, body {
	background: #000;
	margin:0px;
	padding:0px;
	color:white;
	font-family: 'Source Sans Pro', sans-serif;
    /* font-weight: 300; */
    font-size: 14px;
}
a {
	color: #cbad7a;
    word-break: break-all;
	
}
.page {
	width:650px;
	margin:auto;
	padding-bottom:120px;
	
}
article img , header img {
	max-width:100%;
    width: 100%;
}
#div_tittle {
font-family:isocpregular,"sans-serif";
    font-size: 183px;
    line-height: 1em;
}

.center {
	text-align:center;
	
	
}
article {
	margin-top:50px;
   
   
	
}
article h4 {
    margin: 0.8em 0px;
    font-size: 1.1em;
    margin-top: 0px;
}
article.box {
	
   
    display: flex;
    flex-direction: row;
	
}

article.box .image {
  width: 35%;
    margin-right: 3em;
   
}

article.box .content {
  
    flex: 1;
}

footer {
	margin-top:80px;
	
}