@charset "utf-8";
/* CSS Document */

body {
	background-color: #000;
}
#div_citation {
		text-align: center;
	color:#FFF;
	font-family: Verdana, Geneva, sans-serif;	
	font-size:12px;
}
#div_tittle {
	color:#FFF;
	font-family: ISOCP;
	font-size: 200px;
	text-align: center;
}
#div_texte {
	color:#FFF;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	font-size:12px;
}

#div_table {
	text-align: left;
	font-size:10px;
}

#div_footer {
	color:#FFF;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	font-size:10px;
}
#div_texte table tr td {
	text-align: left;
	font-size: 10px;
}
#div_texte table tr td p {
	font-style: italic;
}
a:link {
	color: #FF0;
}
#div_texte table tr td p strong {
	text-align: center;
	font-style: normal;
}
